import React from "react";
import "./<%= name.kebab %>.scss";

interface <%= name.pascal %>Props {
  // TODO: Add component props here
}

export const <%= name.pascal %> = (props: <%= name.pascal %>Props ) => {
  return (
    <div>
      <h1><%= name.title %> </h1>
    </div>
  );
};